.linkswrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: max-content;
  min-height: 25vh;
  background-color: white;
  flex-direction: column;
  color: black;
}
.imgsizing {
  width: 3rem;
  height: 100%;
  margin: 10px;
}
.imgwrapper {
  color: black;
  font-family: Mono;
  display: flex;
  flex-direction: row;
}
