body {
  margin: 0;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  white-space: nowrap;
  font-family: Mono;
}
html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Mono;
  src: url(./dist/fonts/mono.ttf);
}

@font-face {
  font-family: ContentRegular;
  src: url(./dist/fonts/content.ttf);
}
