body {
  margin: 0;
  overflow-x: hidden;
  font-family: Mono;
}
html {
  scroll-behavior: smooth;
}
@font-face {
  font-family: Mono;
  src: url(./dist/fonts/mono.otf);
}

@font-face {
  font-family: ContentRegular;
  src: url(./dist/fonts/content.ttf);
}
